In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [11]:
import pandas as pd
ram = pd.read_csv("/content/main.csv")
ram.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [12]:
ram.groupby('product_description')['price'].mean()

product_description
apple           2.077778
butter-0.25    11.400000
cucumber        4.532857
grape           4.400000
milk-1.5        6.078571
onion           2.150714
orange          2.714286
plum            4.389655
tomato          3.121034
yogurt-1        6.693103
Name: price, dtype: float64

In [13]:
ram["price_new"] = ram['price']
(
   ram.groupby('product_description')['price'].transform("mean")
)
ram[ram["price"].isna()].head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg,NaN
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg,NaN
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg,NaN
73,1003,onion,vegetable,2021-11-14,NaN,39,kg,NaN
74,1003,onion,vegetable,2021-11-15,NaN,25,kg,NaN

In [14]:
ram["price_new"] = ram['price'].fillna(
   ram.groupby('product_description')['price'].transform("mean")
)

In [15]:
ram[ram["price"].isna()].head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg,3.121034
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg,4.532857
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg,4.532857
73,1003,onion,vegetable,2021-11-14,NaN,39,kg,2.150714
74,1003,onion,vegetable,2021-11-15,NaN,25,kg,2.150714